/* @font-face{
    font-family: 'Plento';
    src: url("PLENTO.ttf");
}

@font-face{
    font-family: 'Bahagia';
    src: url("Bahagia.ttf");
}

@font-face{
    font-family: 'Calibri';
    src: url("Calibri.ttf");
} */

.login {
    text-align: center;
    color: #3F3F3F;
}

.login h1 {
    margin-top: 3%;
    margin-bottom: 5%;
    font-family: Plento;
    font-size: 4cm;
}

.login .text {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    font-family: Calibri;
} 

.login .text:focus {
    box-shadow: 0 0 .2rem #FE9802
}

.login .button {
    background-color: #FE9802;
    border-color: black;
    font-family: Bahagia;
    font-size: 1cm;
}

.login .button:hover {
    background-color: #BA6E00;
    border-color: black;
}

.login .button:focus {
    background-color: #BA6E00;
    border-color: black;
    box-shadow: 0 0 .2rem #FE9802
}

.login .formError {
    color: #FE9802;
}